<div>
  <img src="https://avatars.githubusercontent.com/u/28906234?v=4" alt="Headshot of Adam Worley">
  <p>
    Hi, I'm <strong>Adam</strong>. I'm a software developer based in the South of England.
    See some of my work on <a href="https://www.github.com/AdamWorley" target="_blank">GitHub</a>,
    or check out <a href="https://portfolio.adamworley.com" target="_blank">my portfolio</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
